.place__title {
    font-size: 38px;
    line-height: 46px;
    grid-area: title;
    margin-top: 50px;
    margin-bottom: 0;
    margin-left: 84px;
    font-weight: bold;
}

@media (max-width: 1280px) {
    .place__title {
        margin-top: 40px;
        margin-left: 70px;
    }
}

@media (max-width: 1024px) {
    .place__title {
        margin-top: 30px;
        margin-left: 50px;
    }
}

@media (max-width: 900px) {
    .place__title {
        margin-top: 20px;
        font-size: 30px;
        line-height: 36px;
        margin-left: 20px
    }
}

@media (max-width: 750px) {
    .place__title {
        font-size: 64px;
        line-height: 70px;
    }
}

@media (max-width: 470px) {
    .place__title {
        font-size: 44px;
        line-height: 52px;
    }
}

