.header {
    padding-top: 54px;
    position: fixed;
    max-width: 1440px;
    top: 0;
    left: 0;
    right: 0;
    background-color: #ffffff;
}

@media (max-width: 767px) {
    .header {
        padding-top: 15px;
        height: 80px;
    } 
}