.intro {
    max-width: 1284px;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-gap: 22px;
    padding: 90px 0 148px;
}

@media (max-width: 1439px) {
    .intro {
        max-width: 90%;
    }
}

@media (max-width: 900px) {
    .intro {
        grid-template-columns: 1fr;
        grid-template-rows: min-content 1fr;
        grid-gap: 30px;
        text-align: center;
        padding: 50px 0;
    }
}

@media (max-width: 470px) {
    .intro {
        grid-gap: 40px;
        text-align: center;
        padding: 40px 0 0;
        max-width: 100%;
    }
}