.table {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    justify-content: space-between;
    margin: 0;
    padding-left: 0;
}

@media (max-width: 599px) {
    .table {
        justify-content: center;
        text-align: center;
    }
}