.footer {
    background-color: #fecda7;
    height: 780px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 1280px) {
    .footer {
        height: 700px;
    }
}

@media (max-width: 1024px) {
    .footer {
        height: 550px;
    }
}

@media (max-width: 900px) {
    .footer {
        height: 470px;
    }
}

@media (max-width: 750px) {
    .footer {
        height: 390px;
    }
}

@media (max-width: 470px) {
    .footer {
        height: 230px;
    }
}