.people__title {
    margin: 0;
    color: #fecda7;
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase
}

@media (max-width: 900px) {
    .people__title {
        text-align: center;
    }
}