.intro__caption {
    font-size: 39px;
    font-weight: bold;
    line-height: 1.2;
    margin: 0;
}

@media (max-width: 490px) {
    .intro__caption {
        max-width: 90%;
        font-size: 20px;
        margin: 0 auto;
    }
}