.header__column-link {
    text-decoration: none;
    color: black;
    font-size: 14px;
    line-height: 23px;
    font-weight: bold;
    padding-right: 41px;
    transition: opacity 0.3s ease-in-out;
}

.header__column-link:hover {
    opacity: 0.2;
}

@media screen and (max-width: 767px) {
    .header__column-link {
        font-size: 10px;
        line-height: 18px;
        font-weight: bold;
        padding-right: 20px;
    } 
}