.intro__title {
    color: #fecda7;
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
    margin: 0;
    padding-bottom: 35px;
}

@media (max-width: 490px) {
    .intro__title {
        font-size: 12px;
        max-width: 90%;
        margin: 0 auto;
        padding-bottom: 20px;
    }
}